<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>Online Audio Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div class="container">
    <mat-toolbar class="main-toolbar">
      <span class="title">Personal Radio</span>
    </mat-toolbar>
    <div class="header-content">
      <div padding id="app-section" text-center>
        <img src="assets/play.png" width="150px" />
      </div>
      <mat-list color="primary">
        <h3 mat-subheader>Playlist</h3>
        <div class="song-list">
          <mat-list-item
            class="song-items"
            *ngFor="let file of files"
            (click)="openFile(file.url)"
          >
            <!-- routerLink="{`${file.id}`}" -->
            <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
            <a mat-line (click)="openFile(file.url)">{{ file.name }}</a>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
    <ion-item class="file-selector">
      <ion-icon name="cloud-upload-sharp"></ion-icon>
      <input
        type="file"
        name="inputFile"
        (change)="chooseFile($event)"
        required
      />
    </ion-item>
    <hr />
    <div class="media-footer">
      <ion-col class="media-controls">
        <mat-toolbar-row cols="2" class="media-action-bar">
          <ion-icon
            name="pause-circle-sharp"
            color="dark"
            size="large"
            (click)="pause()"
          ></ion-icon>
          <ion-icon
            name="play-circle-sharp"
            color="dark"
            size="large"
            (click)="play()"
          ></ion-icon>
          <ion-icon
            name="stop-circle-sharp"
            color="dark"
            size="large"
            (click)="stop()"
          ></ion-icon>
          <ion-icon
            name="repeat-sharp"
            color="dark"
            size="large"
            (click)="repeatAudio()"
          >
          </ion-icon>
        </mat-toolbar-row>
        <hr />
        <ion-item>
          <span>{{ currentTime }}</span>
          <input
            class="time-slider"
            type="range"
            min="0"
            [max]="duration"
            [value]="seek"
            (input)="setSeekTo($event)"
          />
          <span>{{ duration }}</span>
        </ion-item>
        <hr />
        <ion-item>
          <ion-icon slot="start" name="volume-low" color="dark"></ion-icon>
          <input
            type="range"
            class="time-slider"
            min="0"
            max="1"
            step="0.01"
            value="0.3"
            (input)="setVolume($event)"
          />
          <ion-icon slot="end" name="volume-medium" color="dark"></ion-icon>
        </ion-item>
      </ion-col>
    </div>
  </div>
</ion-content>
