.app {
  float: inline-start;
}

.container {
  .title {
    font-weight: bold;
  }
  .main-toolbar {
    justify-content: center;
    background-color: rgba(169, 184, 180, 0.37);
    font-family: "Montserrat", sans-serif;
  }

  .media-footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    .media-controls{
      ion-icon:hover{
        cursor: pointer;
        --ionicon-stroke-width: 16px;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19),
          0 6px 20px 0 rgba(0, 0, 0, 0.13);
      }
    }

    .media-action-bar {
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

#app-title {
  color: blueviolet;
  text-transform: uppercase;
}

h4 {
  cursor: pointer;
}

.header-content {
  #app-section {
    margin: 0;
    color: #0471d6;
    background-color: rgba(189, 189, 189, 0.411);
    font-size: 15rem;
    border-radius: 5px;
    border: 6px solid whitesmoke;

    img {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      cursor: pointer;

      &:hover {
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
          0 6px 20px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  .song-list {
    height: 240px;
    overflow: scroll;

    .song-items {
      background-color: rgba(245, 245, 245, 0.39);
    }
  }
}

hr {
  opacity: 0.6;
  border-top: 2px solid rgb(233, 233, 233);
  justify-content: center;
}

.time-slider {
  width: 100% !important;
  margin-left: 20px;
  margin-right: 20px;
}
