<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Online Audio Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div class="container">
    <mat-toolbar class="main-toolbar">
      <span>Personal Radio</span>
    </mat-toolbar>
    <div class="header-content">
      <div padding id="app-section" text-center>
        <img src="assets/play.png" width="150px" />
      </div>
      <mat-list color="primary">
        <h3 mat-subheader>Playlist</h3>
        <div class="song-list">
          <mat-list-item
            class="song-items"
            *ngFor="let file of files"
            (click)="openFile(file.url)"
          >
            <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
            <h4 mat-line (click)="openFile(file.url)">{{ file.name }}</h4>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
    <div class="spacer"></div>
    <hr />
    <div class="media-footer">
      <mat-toolbar color="primary">
        <div class="buttons">
          <ion-icon name="play-circle-sharp" (click)="play()"></ion-icon>
          <ion-icon name="pause-circle-sharp" (click)="pause()"></ion-icon>
          <ion-icon name="stop-circle" (click)="stop()"></ion-icon>
        </div>
        <div>
          <span>{{ currentTime }}</span>
          <input
            type="range"
            min="0"
            max="{{ duration }}"
            [value]="seek"
            (input)="setSeekTo($event)"
          />
          <span>{{ duration }}</span>
        </div>

        <div>
          <span class="spacer"><ion-icon name="volume-high"></ion-icon></span>
          <input
            type="range"
            min="0"
            max="1"
            step="0.01"
            value="0.5"
            (input)="setVolume($event)"
          />
        </div>
      </mat-toolbar>
    </div>
  </div>
</ion-content>
